[develop]
aws_access_key_id = {{ onepasswordRead "op://Personal/develop/Section_txrzcqikwfb6i7qzwssxa7w3ou/access-key-id" }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/develop/Section_txrzcqikwfb6i7qzwssxa7w3ou/secret-access-key"}}